<div class="row h-100 justify-content-center align-items-center mt-3">
  <div class="col-12">
    <div class="container">
      <div class="row h-100 justify-content-center align-items-center m-0">
        <div class="col-12">

          <div class="card card-outline card-primary">

            <div class="card-header text-center">
              <h1 class="card-title"><b>Summarize </b>DOCS</h1>
            </div>

            <div class="card-body">
              <mat-horizontal-stepper linear #stepper labelPosition="bottom">
                <mat-step >
                  <ng-template matStepLabel>Upload Document</ng-template>
                  <div class="row h-100 justify-content-center align-items-center mt-3">
                    <div class="col-12">
                      <div class="container">
                        <div class="row h-100 justify-content-center align-items-center m-0">
                          <div class="col-8">
                            <label>Document</label>
                            <div class="input-group mb-3">
                              <input class="form-control" type="file" (change)="readDocument($event)">
                            </div>

                            <label>Reference Summary</label>
                            <div class="input-group mb-3">
                              <textarea class="form-control" [(ngModel)]="request.referenceSummary"></textarea>
                            </div>

                            <label>Score Threshold</label>
                            <div class="input-group mb-3">
                              <div class="slider-container">
                                <input [(ngModel)]="request.scoreThreshold" type="range" class="form-control form-range"
                                       oninput="document.getElementById('score').innerHTML = this.value;" min="0" max="100"
                                       step="1">
                                <span id="score"></span>
                              </div>
                            </div>

                            <label>Similarity Threshold</label>
                            <div class="input-group mb-3">
                              <div class="slider-container">
                                <input [(ngModel)]="request.similarityThreshold" type="range"
                                       class="form-control form-range"
                                       oninput="document.getElementById('similarity').innerHTML = this.value;" min="0"
                                       max="100"
                                       step="1">
                                <span id="similarity"></span>
                              </div>
                            </div>

                            <div class="input-group mb-3">
                              <button class="form-control" mat-button matStepperNext (click)="setStepper(stepper)" [disabled]="!isValidRequest()">Summarize</button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Create Graph</ng-template>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Calculate Similarities</ng-template>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Calculate Sentence Scores</ng-template>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Summarize Document</ng-template>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Calculate Rouge Score</ng-template>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <app-vis [treeData]="getTreeData()"></app-vis>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>


              <button class="btn btn-primary" (click)="test()">Test</button>
              <pre>{{request | json}}</pre>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
