<div class="row h-100 justify-content-center align-items-center mt-3 mb-5">
  <div class="col-12">
    <div class="container">
      <div class="row h-100 justify-content-center align-items-center m-0">
        <div class="col-12">

          <div class="card card-outline card-primary">

            <div class="card-header text-center">
              <h1 class="card-title"><b>Summarize </b>DOCS</h1>
            </div>

            <div class="card-body" style="min-height: 600px;">
              <mat-horizontal-stepper linear #stepper labelPosition="bottom">

                <mat-step>
                  <ng-template matStepLabel>Upload Document</ng-template>
                  <div class="row h-100 justify-content-center align-items-center mt-3">
                    <div class="col-12">
                      <div class="container">
                        <div class="row h-100 justify-content-center align-items-center m-0">
                          <div class="col-8">
                            <label>Document</label>
                            <div class="input-group mb-3">
                              <input class="form-control" type="file" (change)="readDocument($event)">
                            </div>

                            <label>Reference Summary</label>
                            <div class="input-group mb-3">
                              <textarea class="form-control" [(ngModel)]="request.referenceSummary"></textarea>
                            </div>

                            <label>Score Threshold</label>
                            <div class="input-group mb-3">
                              <div class="slider-container">
                                <input [(ngModel)]="request.scoreThreshold" type="range" class="form-control form-range"
                                       oninput="document.getElementById('score').innerHTML = this.value;" min="0"
                                       max="100"
                                       step="1">
                                <span id="score"></span>
                              </div>
                            </div>

                            <label>Similarity Threshold</label>
                            <div class="input-group mb-5">
                              <div class="slider-container">
                                <input [(ngModel)]="request.similarityThreshold" type="range"
                                       class="form-control form-range"
                                       oninput="document.getElementById('similarity').innerHTML = this.value;" min="0"
                                       max="100"
                                       step="1">
                                <span id="similarity"></span>
                              </div>
                            </div>

                            <div class="input-group mb-3">
                              <button class="form-control" mat-button matStepperNext (click)="summarize(stepper)"
                                      [disabled]="!isValidRequest()">Summarize
                              </button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Create Graph</ng-template>
                  <app-spinner text="Creating Graph.."></app-spinner>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Calculate Similarities</ng-template>
                  <app-spinner text="Calculating similarities.."></app-spinner>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Calculate Sentence Scores</ng-template>
                  <app-spinner text="Calculating sentence scores.."></app-spinner>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Summarize Document</ng-template>
                  <app-spinner text="Creating a summary document.."></app-spinner>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Calculate Rouge Score</ng-template>
                  <app-spinner text="Calculating rouge score.."></app-spinner>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>

                  <div class="">
                    <div *ngIf="isActive">
                      <app-vis [treeData]="getTreeData()"></app-vis>

                      <div class="m-3">
                        <h3 class="mb-1">Sentence Score Threshold : {{request.scoreThreshold}}%</h3>
                        <h3 class="mb-1">Similarity Threshold : {{request.similarityThreshold}}%</h3>
                        <h3 class="mb-1">Rouge Score : {{response.rougeScore}}%</h3>

                      </div>

                      <div class="row h-100 justify-content-center align-items-center mt-3">
                        <div class="col-12">
                          <div class="container">
                            <div class="row h-100 justify-content-center align-items-center m-0">
                              <div class="col-6">
                                <h1>Summary</h1>
                                <a><span class="5">{{response.summary}}</span></a>
                              </div>
                              <div class="col-6">
                                <h1>Reference Summary</h1>
                                <a><span class="5">{{response.reference}}</span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="sentences mt-5 mb-5">
                        <table mat-table [dataSource]="response.document.sentences"
                               class="mat-elevation-z8" style="width: 100%">

                          <!-- Position Column -->
                          <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>
                              No.
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.sentenceNo}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="sentence">
                            <th mat-header-cell *matHeaderCellDef>
                              Sentence
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
                          </ng-container>

                          <!-- Score Column -->
                          <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef>
                              Score
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.sentenceScore}} </td>
                          </ng-container>

                          <!-- Node Count Column -->
                          <ng-container matColumnDef="edgeCount">
                            <th mat-header-cell *matHeaderCellDef>
                              Exceeded Edge Count
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.numberOfEdgeExceedingThreshold}} </td>
                          </ng-container>

                          <ng-container matColumnDef="isIncludedSummary">
                            <th mat-header-cell *matHeaderCellDef>
                              Is Included Summary
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.isIncludedSummary ? 'YES' : 'NO'}} </td>
                          </ng-container>


                          <tr mat-header-row
                              *matHeaderRowDef="['position','sentence','score','edgeCount','isIncludedSummary']"></tr>
                          <tr mat-row
                              *matRowDef="let row; columns: ['position','sentence','score','edgeCount','isIncludedSummary'];"></tr>
                        </table>


                      </div>
                    </div>

                    <button class="btn btn-primary m-3" (click)="reset(stepper)">Reset</button>
                  </div>

                </mat-step>
              </mat-horizontal-stepper>


              <!--              <button class="btn btn-primary" (click)="test()">Test</button>-->
              <!--              <pre>{{request | json}}</pre>-->

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
